node_modules/
.expo/
bin/
obj/
.vs/
.vscode/*
!.vscode/tasks.json
.env
.env.*
ios/Pods/
android/app/build/
android/.kotlin/
.jdk17/
.DS_Store

# Logs and Temp files
*.log
*.txt
build_*.txt
*.sql
*.pyc
__pycache__/
