USE [EatFitAI]
GO
/****** Object:  Table [dbo].[NhatKyAnUong]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyAnUong](
	[MaNhatKy] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [uniqueidentifier] NOT NULL,
	[NgayAn] [date] NOT NULL,
	[MaBuaAn] [varchar](20) NOT NULL,
	[MaThucPham] [bigint] NULL,
	[MaMonNguoiDung] [bigint] NULL,
	[MaCongThuc] [bigint] NULL,
	[KhoiLuongGram] [decimal](10, 2) NOT NULL,
	[Calo] [decimal](10, 2) NOT NULL,
	[Protein] [decimal](10, 2) NOT NULL,
	[Carb] [decimal](10, 2) NOT NULL,
	[Fat] [decimal](10, 2) NOT NULL,
	[NgayTao] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TongHopDinhDuongNgay]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TongHopDinhDuongNgay]
AS
SELECT 
    MaNguoiDung,
    NgayAn,
    SUM(Calo) AS TongCalo,
    SUM(Protein) AS TongProtein,
    SUM(Carb) AS TongCarb,
    SUM(Fat) AS TongFat
FROM dbo.NhatKyAnUong
GROUP BY MaNguoiDung, NgayAn;
GO
/****** Object:  View [dbo].[vw_TongHopDinhDuongTuan]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TongHopDinhDuongTuan]
AS
SELECT 
    MaNguoiDung,
    DATEADD(DAY, 1,
        DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(DAY, -1, NgayAn)), 0)
    ) AS TuanBatDau,
    DATEADD(DAY, 6,
        DATEADD(DAY, 1,
            DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(DAY, -1, NgayAn)), 0)
        )
    ) AS TuanKetThuc,
    SUM(Calo) AS TongCalo,
    SUM(Protein) AS TongProtein,
    SUM(Carb) AS TongCarb,
    SUM(Fat) AS TongFat
FROM dbo.NhatKyAnUong
GROUP BY 
    MaNguoiDung,
    DATEADD(DAY, 1,
        DATEADD(WEEK, DATEDIFF(WEEK, 0, DATEADD(DAY, -1, NgayAn)), 0)
    );
GO
/****** Object:  Table [dbo].[ChiSoCoThe]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiSoCoThe](
	[MaChiSo] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [uniqueidentifier] NOT NULL,
	[ChieuCaoCm] [decimal](6, 2) NULL,
	[CanNangKg] [decimal](6, 2) NULL,
	[MaMucDo] [varchar](20) NULL,
	[MaMucTieu] [varchar](20) NULL,
	[NgayCapNhat] [datetime2](0) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongThuc]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc](
	[MaCongThuc] [bigint] IDENTITY(1,1) NOT NULL,
	[TenCongThuc] [nvarchar](200) NOT NULL,
	[LoaiAmThuc] [nvarchar](100) NULL,
	[ThoiGianUocTinhPhut] [int] NULL,
	[HuongDan] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](400) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiBuaAn]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBuaAn](
	[MaBuaAn] [varchar](20) NOT NULL,
	[TenBuaAn] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBuaAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonNguoiDung]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonNguoiDung](
	[MaMonNguoiDung] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [uniqueidentifier] NOT NULL,
	[TenMon] [nvarchar](200) NOT NULL,
	[Calo100g] [decimal](8, 2) NOT NULL,
	[Protein100g] [decimal](8, 2) NOT NULL,
	[Carb100g] [decimal](8, 2) NOT NULL,
	[Fat100g] [decimal](8, 2) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[NgayTao] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucDoVanDong]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucDoVanDong](
	[MaMucDo] [varchar](20) NOT NULL,
	[TenMucDo] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
	[HeSoTDEE] [decimal](5, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMucDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucTieu]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucTieu](
	[MaMucTieu] [varchar](20) NOT NULL,
	[TenMucTieu] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMucTieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucTieuDinhDuong]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucTieuDinhDuong](
	[MaMucTieuDD] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [uniqueidentifier] NOT NULL,
	[HieuLucTuNgay] [datetime2](0) NOT NULL,
	[CaloKcal] [int] NOT NULL,
	[ProteinG] [decimal](8, 2) NOT NULL,
	[CarbG] [decimal](8, 2) NOT NULL,
	[FatG] [decimal](8, 2) NOT NULL,
	[Nguon] [varchar](20) NOT NULL,
	[LyDo] [nvarchar](200) NULL,
	[NgayTao] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMucTieuDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[MatKhauHash] [varbinary](256) NOT NULL,
	[HoTen] [nvarchar](150) NULL,
	[GioiTinh] [char](1) NULL,
	[NgaySinh] [date] NULL,
	[NgayTao] [datetime2](0) NOT NULL,
	[NgayCapNhat] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieuCongThuc]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieuCongThuc](
	[MaNguyenLieu] [bigint] IDENTITY(1,1) NOT NULL,
	[MaCongThuc] [bigint] NOT NULL,
	[MaThucPham] [bigint] NOT NULL,
	[KhoiLuongGram] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanDienAnh]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanDienAnh](
	[MaNhanDien] [bigint] IDENTITY(1,1) NOT NULL,
	[MaGoiYAI] [bigint] NOT NULL,
	[Nhan] [nvarchar](200) NOT NULL,
	[DoTinCay] [decimal](5, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanDien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyAI]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyAI](
	[MaGoiYAI] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [uniqueidentifier] NULL,
	[LoaiGoiY] [varchar](20) NOT NULL,
	[DuLieuDauVao] [nvarchar](max) NOT NULL,
	[KetQuaAI] [nvarchar](max) NULL,
	[ThoiGianTao] [datetime2](0) NOT NULL,
	[ThoiLuongXuLyMs] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGoiYAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucPham]    Script Date: 13/10/2025 8:55:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucPham](
	[MaThucPham] [bigint] IDENTITY(1,1) NOT NULL,
	[TenThucPham] [nvarchar](200) NOT NULL,
	[PhanLoai] [nvarchar](100) NULL,
	[MoTaKhauPhan] [nvarchar](100) NULL,
	[Calo100g] [decimal](8, 2) NOT NULL,
	[Protein100g] [decimal](8, 2) NOT NULL,
	[Carb100g] [decimal](8, 2) NOT NULL,
	[Fat100g] [decimal](8, 2) NOT NULL,
	[HinhAnh] [nvarchar](400) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThucPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiSoCoThe] ADD  DEFAULT (sysdatetime()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CongThuc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[MonNguoiDung] ADD  DEFAULT (sysdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[MucTieuDinhDuong] ADD  DEFAULT (sysdatetime()) FOR [HieuLucTuNgay]
GO
ALTER TABLE [dbo].[MucTieuDinhDuong] ADD  DEFAULT (sysdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (newid()) FOR [MaNguoiDung]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (sysdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (sysdatetime()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NhatKyAI] ADD  DEFAULT (sysdatetime()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[NhatKyAnUong] ADD  DEFAULT (sysdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThucPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiSoCoThe]  WITH CHECK ADD  CONSTRAINT [FK_ChiSoCoThe_MucDo] FOREIGN KEY([MaMucDo])
REFERENCES [dbo].[MucDoVanDong] ([MaMucDo])
GO
ALTER TABLE [dbo].[ChiSoCoThe] CHECK CONSTRAINT [FK_ChiSoCoThe_MucDo]
GO
ALTER TABLE [dbo].[ChiSoCoThe]  WITH CHECK ADD  CONSTRAINT [FK_ChiSoCoThe_MucTieu] FOREIGN KEY([MaMucTieu])
REFERENCES [dbo].[MucTieu] ([MaMucTieu])
GO
ALTER TABLE [dbo].[ChiSoCoThe] CHECK CONSTRAINT [FK_ChiSoCoThe_MucTieu]
GO
ALTER TABLE [dbo].[ChiSoCoThe]  WITH CHECK ADD  CONSTRAINT [FK_ChiSoCoThe_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ChiSoCoThe] CHECK CONSTRAINT [FK_ChiSoCoThe_NguoiDung]
GO
ALTER TABLE [dbo].[MonNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_MonNguoiDung_User] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[MonNguoiDung] CHECK CONSTRAINT [FK_MonNguoiDung_User]
GO
ALTER TABLE [dbo].[MucTieuDinhDuong]  WITH CHECK ADD  CONSTRAINT [FK_MucTieuDD_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[MucTieuDinhDuong] CHECK CONSTRAINT [FK_MucTieuDD_NguoiDung]
GO
ALTER TABLE [dbo].[NguyenLieuCongThuc]  WITH CHECK ADD  CONSTRAINT [FK_NLCT_CongThuc] FOREIGN KEY([MaCongThuc])
REFERENCES [dbo].[CongThuc] ([MaCongThuc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NguyenLieuCongThuc] CHECK CONSTRAINT [FK_NLCT_CongThuc]
GO
ALTER TABLE [dbo].[NguyenLieuCongThuc]  WITH CHECK ADD  CONSTRAINT [FK_NLCT_ThucPham] FOREIGN KEY([MaThucPham])
REFERENCES [dbo].[ThucPham] ([MaThucPham])
GO
ALTER TABLE [dbo].[NguyenLieuCongThuc] CHECK CONSTRAINT [FK_NLCT_ThucPham]
GO
ALTER TABLE [dbo].[NhanDienAnh]  WITH CHECK ADD  CONSTRAINT [FK_NDAI_NKAI] FOREIGN KEY([MaGoiYAI])
REFERENCES [dbo].[NhatKyAI] ([MaGoiYAI])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanDienAnh] CHECK CONSTRAINT [FK_NDAI_NKAI]
GO
ALTER TABLE [dbo].[NhatKyAI]  WITH CHECK ADD  CONSTRAINT [FK_NKAI_User] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NhatKyAI] CHECK CONSTRAINT [FK_NKAI_User]
GO
ALTER TABLE [dbo].[NhatKyAnUong]  WITH CHECK ADD  CONSTRAINT [FK_NK_BuaAn] FOREIGN KEY([MaBuaAn])
REFERENCES [dbo].[LoaiBuaAn] ([MaBuaAn])
GO
ALTER TABLE [dbo].[NhatKyAnUong] CHECK CONSTRAINT [FK_NK_BuaAn]
GO
ALTER TABLE [dbo].[NhatKyAnUong]  WITH CHECK ADD  CONSTRAINT [FK_NK_CongThuc] FOREIGN KEY([MaCongThuc])
REFERENCES [dbo].[CongThuc] ([MaCongThuc])
GO
ALTER TABLE [dbo].[NhatKyAnUong] CHECK CONSTRAINT [FK_NK_CongThuc]
GO
ALTER TABLE [dbo].[NhatKyAnUong]  WITH CHECK ADD  CONSTRAINT [FK_NK_MonND] FOREIGN KEY([MaMonNguoiDung])
REFERENCES [dbo].[MonNguoiDung] ([MaMonNguoiDung])
GO
ALTER TABLE [dbo].[NhatKyAnUong] CHECK CONSTRAINT [FK_NK_MonND]
GO
ALTER TABLE [dbo].[NhatKyAnUong]  WITH CHECK ADD  CONSTRAINT [FK_NK_ThucPham] FOREIGN KEY([MaThucPham])
REFERENCES [dbo].[ThucPham] ([MaThucPham])
GO
ALTER TABLE [dbo].[NhatKyAnUong] CHECK CONSTRAINT [FK_NK_ThucPham]
GO
ALTER TABLE [dbo].[NhatKyAnUong]  WITH CHECK ADD  CONSTRAINT [FK_NK_User] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NhatKyAnUong] CHECK CONSTRAINT [FK_NK_User]
GO
ALTER TABLE [dbo].[MucTieuDinhDuong]  WITH CHECK ADD CHECK  (([Nguon]='ThuCong' OR [Nguon]='AI'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([GioiTinh]='F' OR [GioiTinh]='M'))
GO
ALTER TABLE [dbo].[NhatKyAI]  WITH CHECK ADD CHECK  (([LoaiGoiY]='MonAn' OR [LoaiGoiY]='DinhDuong'))
GO
ALTER TABLE [dbo].[NhatKyAnUong]  WITH CHECK ADD  CONSTRAINT [CK_NK_SourceOne] CHECK  ((((case when [MaThucPham] IS NULL then (0) else (1) end+case when [MaMonNguoiDung] IS NULL then (0) else (1) end)+case when [MaCongThuc] IS NULL then (0) else (1) end)=(1)))
GO
ALTER TABLE [dbo].[NhatKyAnUong] CHECK CONSTRAINT [CK_NK_SourceOne]
GO
