USE [EatFitAI]
GO
/****** Object:  Table [dbo].[MealDiary]    Script Date: 11/2/2025 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealDiary](
	[MealDiaryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[EatenDate] [date] NOT NULL,
	[MealTypeId] [int] NOT NULL,
	[FoodItemId] [int] NULL,
	[UserDishId] [int] NULL,
	[RecipeId] [int] NULL,
	[ServingUnitId] [int] NULL,
	[PortionQuantity] [decimal](10, 2) NULL,
	[Grams] [decimal](10, 2) NOT NULL,
	[Calories] [decimal](10, 2) NOT NULL,
	[Protein] [decimal](10, 2) NOT NULL,
	[Carb] [decimal](10, 2) NOT NULL,
	[Fat] [decimal](10, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[PhotoUrl] [nvarchar](500) NULL,
	[SourceMethod] [nvarchar](30) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_MealDiary] PRIMARY KEY CLUSTERED 
(
	[MealDiaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DailyNutritionTotals]    Script Date: 11/2/2025 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DailyNutritionTotals] AS
SELECT UserId, EatenDate,
       SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat
FROM dbo.MealDiary
WHERE IsDeleted=0
GROUP BY UserId, EatenDate;
GO
/****** Object:  View [dbo].[vw_WeeklyNutritionTotals]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_WeeklyNutritionTotals] AS
SELECT UserId,
       DATEADD(day, - (DATEPART(weekday, EatenDate)+5)%7, CAST(EatenDate AS DATE)) AS WeekStart, -- Monday-based
       SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat
FROM dbo.MealDiary
WHERE IsDeleted=0
GROUP BY UserId, DATEADD(day, - (DATEPART(weekday, EatenDate)+5)%7, CAST(EatenDate AS DATE));
GO
/****** Object:  View [dbo].[vw_DailyMacroShare]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DailyMacroShare] AS
SELECT UserId, EatenDate,
       SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat,
       CAST(CASE WHEN SUM(Calories)=0 THEN 0 ELSE (SUM(Protein)*4.0)/NULLIF(SUM(Calories),0) END AS DECIMAL(5,4)) AS ProteinShare,
       CAST(CASE WHEN SUM(Calories)=0 THEN 0 ELSE (SUM(Carb)*4.0)/NULLIF(SUM(Calories),0) END AS DECIMAL(5,4))    AS CarbShare,
       CAST(CASE WHEN SUM(Calories)=0 THEN 0 ELSE (SUM(Fat)*9.0)/NULLIF(SUM(Calories),0) END AS DECIMAL(5,4))     AS FatShare
FROM dbo.MealDiary
WHERE IsDeleted=0
GROUP BY UserId, EatenDate;

GO
/****** Object:  View [dbo].[vw_MonthlyTotals]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MonthlyTotals] AS
SELECT UserId, CAST(DATEFROMPARTS(YEAR(EatenDate), MONTH(EatenDate), 1) AS DATE) AS Month,
       SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat,
       COUNT(*) AS EntryCount
FROM dbo.MealDiary
WHERE IsDeleted=0
GROUP BY UserId, DATEFROMPARTS(YEAR(EatenDate), MONTH(EatenDate), 1);
GO
/****** Object:  Table [dbo].[NutritionTarget]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NutritionTarget](
	[NutritionTargetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ActivityLevelId] [int] NULL,
	[TargetCalories] [int] NOT NULL,
	[TargetProtein] [int] NOT NULL,
	[TargetCarb] [int] NOT NULL,
	[TargetFat] [int] NOT NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
 CONSTRAINT [PK_NutritionTarget] PRIMARY KEY CLUSTERED 
(
	[NutritionTargetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TargetProgress]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TargetProgress] AS
SELECT
    d.UserId, d.EatenDate,
    d.TotalCalories, d.TotalProtein, d.TotalCarb, d.TotalFat,
    t.TargetCalories, t.TargetProtein, t.TargetCarb, t.TargetFat,
    CAST(d.TotalCalories - t.TargetCalories AS INT) AS CalorieDelta,
    CAST(d.TotalProtein  - t.TargetProtein  AS INT) AS ProteinDelta,
    CAST(d.TotalCarb     - t.TargetCarb     AS INT) AS CarbDelta,
    CAST(d.TotalFat      - t.TargetFat      AS INT) AS FatDelta
FROM (
    SELECT UserId, EatenDate,
           SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat
    FROM dbo.MealDiary WHERE IsDeleted=0 GROUP BY UserId, EatenDate
) d
JOIN dbo.NutritionTarget t
  ON t.UserId = d.UserId
 AND (t.EffectiveFrom = d.EatenDate OR (t.EffectiveFrom <= d.EatenDate AND (t.EffectiveTo IS NULL OR t.EffectiveTo >= d.EatenDate)));

GO
/****** Object:  Table [dbo].[ActivityLevel]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLevel](
	[ActivityLevelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ActivityFactor] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_ActivityLevel] PRIMARY KEY CLUSTERED 
(
	[ActivityLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ActivityLevel_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AILog]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AILog](
	[AILogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Action] [nvarchar](50) NOT NULL,
	[InputJson] [nvarchar](max) NULL,
	[OutputJson] [nvarchar](max) NULL,
	[DurationMs] [int] NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_AILog] PRIMARY KEY CLUSTERED 
(
	[AILogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AISuggestion]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AISuggestion](
	[AISuggestionId] [int] IDENTITY(1,1) NOT NULL,
	[AILogId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Confidence] [decimal](5, 4) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_AISuggestion] PRIMARY KEY CLUSTERED 
(
	[AISuggestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BodyMetric]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyMetric](
	[BodyMetricId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[HeightCm] [decimal](5, 2) NULL,
	[WeightKg] [decimal](5, 2) NULL,
	[BodyFatPct] [decimal](5, 2) NULL,
	[MeasuredDate] [date] NOT NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_BodyMetric] PRIMARY KEY CLUSTERED 
(
	[BodyMetricId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodItem]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItem](
	[FoodItemId] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](255) NOT NULL,
	[CaloriesPer100g] [decimal](10, 2) NOT NULL,
	[ProteinPer100g] [decimal](10, 2) NOT NULL,
	[CarbPer100g] [decimal](10, 2) NOT NULL,
	[FatPer100g] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_FoodItem] PRIMARY KEY CLUSTERED 
(
	[FoodItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodServing]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodServing](
	[FoodServingId] [int] IDENTITY(1,1) NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[ServingUnitId] [int] NOT NULL,
	[GramsPerUnit] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_FoodServing] PRIMARY KEY CLUSTERED 
(
	[FoodServingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FoodServing] UNIQUE NONCLUSTERED 
(
	[FoodItemId] ASC,
	[ServingUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageDetection]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageDetection](
	[ImageDetectionId] [int] IDENTITY(1,1) NOT NULL,
	[AILogId] [int] NOT NULL,
	[Label] [nvarchar](200) NOT NULL,
	[Confidence] [decimal](5, 4) NOT NULL,
 CONSTRAINT [PK_ImageDetection] PRIMARY KEY CLUSTERED 
(
	[ImageDetectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealType]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealType](
	[MealTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MealType] PRIMARY KEY CLUSTERED 
(
	[MealTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MealType_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[RecipeId] [int] IDENTITY(1,1) NOT NULL,
	[RecipeName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeIngredient]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredient](
	[RecipeIngredientId] [int] IDENTITY(1,1) NOT NULL,
	[RecipeId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Grams] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_RecipeIngredient] PRIMARY KEY CLUSTERED 
(
	[RecipeIngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServingUnit]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServingUnit](
	[ServingUnitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Symbol] [nvarchar](20) NULL,
	[IsBaseUnit] [bit] NOT NULL,
 CONSTRAINT [PK_ServingUnit] PRIMARY KEY CLUSTERED 
(
	[ServingUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ServingUnit_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDish]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDish](
	[UserDishId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[DishName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserDish] PRIMARY KEY CLUSTERED 
(
	[UserDishId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDishIngredient]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDishIngredient](
	[UserDishIngredientId] [int] IDENTITY(1,1) NOT NULL,
	[UserDishId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Grams] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_UserDishIngredient] PRIMARY KEY CLUSTERED 
(
	[UserDishIngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFavoriteFood]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavoriteFood](
	[UserFavoriteFoodId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_UserFavoriteFood] PRIMARY KEY CLUSTERED 
(
	[UserFavoriteFoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserFavoriteFood] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[FoodItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRecentFood]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRecentFood](
	[UserRecentFoodId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[LastUsedAt] [datetime2](3) NOT NULL,
	[UsedCount] [int] NOT NULL,
 CONSTRAINT [PK_UserRecentFood] PRIMARY KEY CLUSTERED 
(
	[UserRecentFoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserRecentFood] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[FoodItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](150) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AILog] ADD  CONSTRAINT [DF_AILog_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AISuggestion] ADD  CONSTRAINT [DF_AISuggestion_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FoodItem] ADD  CONSTRAINT [DF_FI_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FoodItem] ADD  CONSTRAINT [DF_FI_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FoodItem] ADD  CONSTRAINT [DF_FI_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[FoodItem] ADD  CONSTRAINT [DF_FI_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MealDiary] ADD  CONSTRAINT [DF_MealDiary_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MealDiary] ADD  CONSTRAINT [DF_MealDiary_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MealDiary] ADD  CONSTRAINT [DF_MealDiary_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Recipe] ADD  CONSTRAINT [DF_Recipe_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Recipe] ADD  CONSTRAINT [DF_Recipe_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Recipe] ADD  CONSTRAINT [DF_Recipe_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ServingUnit] ADD  CONSTRAINT [DF_ServingUnit_Base]  DEFAULT ((0)) FOR [IsBaseUnit]
GO
ALTER TABLE [dbo].[UserDish] ADD  CONSTRAINT [DF_UserDish_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserDish] ADD  CONSTRAINT [DF_UserDish_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserDish] ADD  CONSTRAINT [DF_UserDish_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[UserFavoriteFood] ADD  CONSTRAINT [DF_UserFavoriteFood_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserRecentFood] ADD  CONSTRAINT [DF_UserRecentFood_LastUsedAt]  DEFAULT (sysutcdatetime()) FOR [LastUsedAt]
GO
ALTER TABLE [dbo].[UserRecentFood] ADD  CONSTRAINT [DF_UserRecentFood_UsedCount]  DEFAULT ((1)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AILog]  WITH CHECK ADD  CONSTRAINT [FK_AILog_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AILog] CHECK CONSTRAINT [FK_AILog_User]
GO
ALTER TABLE [dbo].[AISuggestion]  WITH CHECK ADD  CONSTRAINT [FK_AISuggestion_AILog] FOREIGN KEY([AILogId])
REFERENCES [dbo].[AILog] ([AILogId])
GO
ALTER TABLE [dbo].[AISuggestion] CHECK CONSTRAINT [FK_AISuggestion_AILog]
GO
ALTER TABLE [dbo].[AISuggestion]  WITH CHECK ADD  CONSTRAINT [FK_AISuggestion_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[AISuggestion] CHECK CONSTRAINT [FK_AISuggestion_FoodItem]
GO
ALTER TABLE [dbo].[BodyMetric]  WITH CHECK ADD  CONSTRAINT [FK_BodyMetric_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[BodyMetric] CHECK CONSTRAINT [FK_BodyMetric_User]
GO
ALTER TABLE [dbo].[FoodServing]  WITH CHECK ADD  CONSTRAINT [FK_FoodServing_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[FoodServing] CHECK CONSTRAINT [FK_FoodServing_FoodItem]
GO
ALTER TABLE [dbo].[FoodServing]  WITH CHECK ADD  CONSTRAINT [FK_FoodServing_ServingUnit] FOREIGN KEY([ServingUnitId])
REFERENCES [dbo].[ServingUnit] ([ServingUnitId])
GO
ALTER TABLE [dbo].[FoodServing] CHECK CONSTRAINT [FK_FoodServing_ServingUnit]
GO
ALTER TABLE [dbo].[ImageDetection]  WITH CHECK ADD  CONSTRAINT [FK_ImageDetection_AILog] FOREIGN KEY([AILogId])
REFERENCES [dbo].[AILog] ([AILogId])
GO
ALTER TABLE [dbo].[ImageDetection] CHECK CONSTRAINT [FK_ImageDetection_AILog]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_FoodItem]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_MealType] FOREIGN KEY([MealTypeId])
REFERENCES [dbo].[MealType] ([MealTypeId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_MealType]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_Recipe] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipe] ([RecipeId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_Recipe]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_ServingUnit] FOREIGN KEY([ServingUnitId])
REFERENCES [dbo].[ServingUnit] ([ServingUnitId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_ServingUnit]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_User]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_UserDish] FOREIGN KEY([UserDishId])
REFERENCES [dbo].[UserDish] ([UserDishId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_UserDish]
GO
ALTER TABLE [dbo].[NutritionTarget]  WITH CHECK ADD  CONSTRAINT [FK_NutritionTarget_ActivityLevel] FOREIGN KEY([ActivityLevelId])
REFERENCES [dbo].[ActivityLevel] ([ActivityLevelId])
GO
ALTER TABLE [dbo].[NutritionTarget] CHECK CONSTRAINT [FK_NutritionTarget_ActivityLevel]
GO
ALTER TABLE [dbo].[NutritionTarget]  WITH CHECK ADD  CONSTRAINT [FK_NutritionTarget_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[NutritionTarget] CHECK CONSTRAINT [FK_NutritionTarget_User]
GO
ALTER TABLE [dbo].[RecipeIngredient]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredient_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[RecipeIngredient] CHECK CONSTRAINT [FK_RecipeIngredient_FoodItem]
GO
ALTER TABLE [dbo].[RecipeIngredient]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredient_Recipe] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipe] ([RecipeId])
GO
ALTER TABLE [dbo].[RecipeIngredient] CHECK CONSTRAINT [FK_RecipeIngredient_Recipe]
GO
ALTER TABLE [dbo].[UserDish]  WITH CHECK ADD  CONSTRAINT [FK_UserDish_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserDish] CHECK CONSTRAINT [FK_UserDish_User]
GO
ALTER TABLE [dbo].[UserDishIngredient]  WITH CHECK ADD  CONSTRAINT [FK_UserDishIngredient_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[UserDishIngredient] CHECK CONSTRAINT [FK_UserDishIngredient_FoodItem]
GO
ALTER TABLE [dbo].[UserDishIngredient]  WITH CHECK ADD  CONSTRAINT [FK_UserDishIngredient_UserDish] FOREIGN KEY([UserDishId])
REFERENCES [dbo].[UserDish] ([UserDishId])
GO
ALTER TABLE [dbo].[UserDishIngredient] CHECK CONSTRAINT [FK_UserDishIngredient_UserDish]
GO
ALTER TABLE [dbo].[UserFavoriteFood]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteFood_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[UserFavoriteFood] CHECK CONSTRAINT [FK_UserFavoriteFood_FoodItem]
GO
ALTER TABLE [dbo].[UserFavoriteFood]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteFood_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserFavoriteFood] CHECK CONSTRAINT [FK_UserFavoriteFood_User]
GO
ALTER TABLE [dbo].[UserRecentFood]  WITH CHECK ADD  CONSTRAINT [FK_UserRecentFood_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[UserRecentFood] CHECK CONSTRAINT [FK_UserRecentFood_FoodItem]
GO
ALTER TABLE [dbo].[UserRecentFood]  WITH CHECK ADD  CONSTRAINT [FK_UserRecentFood_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRecentFood] CHECK CONSTRAINT [FK_UserRecentFood_User]
GO
ALTER TABLE [dbo].[ActivityLevel]  WITH CHECK ADD  CONSTRAINT [CK_ActivityLevel_Positive] CHECK  (([ActivityFactor]>(0)))
GO
ALTER TABLE [dbo].[ActivityLevel] CHECK CONSTRAINT [CK_ActivityLevel_Positive]
GO
ALTER TABLE [dbo].[AISuggestion]  WITH CHECK ADD  CONSTRAINT [CK_AISuggestion_Conf] CHECK  (([Confidence]>=(0) AND [Confidence]<=(1)))
GO
ALTER TABLE [dbo].[AISuggestion] CHECK CONSTRAINT [CK_AISuggestion_Conf]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [CK_FI_C_NonNeg] CHECK  (([CarbPer100g]>=(0)))
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [CK_FI_C_NonNeg]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [CK_FI_Cal_NonNeg] CHECK  (([CaloriesPer100g]>=(0)))
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [CK_FI_Cal_NonNeg]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [CK_FI_F_NonNeg] CHECK  (([FatPer100g]>=(0)))
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [CK_FI_F_NonNeg]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [CK_FI_P_NonNeg] CHECK  (([ProteinPer100g]>=(0)))
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [CK_FI_P_NonNeg]
GO
ALTER TABLE [dbo].[FoodServing]  WITH CHECK ADD  CONSTRAINT [CK_FoodServing_Positive] CHECK  (([GramsPerUnit]>(0)))
GO
ALTER TABLE [dbo].[FoodServing] CHECK CONSTRAINT [CK_FoodServing_Positive]
GO
ALTER TABLE [dbo].[ImageDetection]  WITH CHECK ADD  CONSTRAINT [CK_ImageDetection_Conf] CHECK  (([Confidence]>=(0) AND [Confidence]<=(1)))
GO
ALTER TABLE [dbo].[ImageDetection] CHECK CONSTRAINT [CK_ImageDetection_Conf]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_C_NonNeg] CHECK  (([Carb]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_C_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_Cal_NonNeg] CHECK  (([Calories]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_Cal_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_F_NonNeg] CHECK  (([Fat]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_F_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_Grams_NonNeg] CHECK  (([Grams]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_Grams_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_P_NonNeg] CHECK  (([Protein]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_P_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_Portion_Positive] CHECK  (([PortionQuantity] IS NULL OR [PortionQuantity]>(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_Portion_Positive]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_SourceExactlyOne] CHECK  ((((case when [FoodItemId] IS NOT NULL then (1) else (0) end+case when [UserDishId] IS NOT NULL then (1) else (0) end)+case when [RecipeId] IS NOT NULL then (1) else (0) end)=(1)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_SourceExactlyOne]
GO
ALTER TABLE [dbo].[RecipeIngredient]  WITH CHECK ADD  CONSTRAINT [CK_RecipeIngredient_Positive] CHECK  (([Grams]>=(0)))
GO
ALTER TABLE [dbo].[RecipeIngredient] CHECK CONSTRAINT [CK_RecipeIngredient_Positive]
GO
ALTER TABLE [dbo].[UserDishIngredient]  WITH CHECK ADD  CONSTRAINT [CK_UserDishIngredient_Positive] CHECK  (([Grams]>=(0)))
GO
ALTER TABLE [dbo].[UserDishIngredient] CHECK CONSTRAINT [CK_UserDishIngredient_Positive]
GO
/****** Object:  StoredProcedure [dbo].[sp_Food_Search]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Food_Search]
    @q NVARCHAR(200) = N'',
    @page INT = 1,
    @size INT = 20,
    @total INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF @page < 1 SET @page = 1;
    IF @size < 1 SET @size = 20;
    DECLARE @offset INT = (@page-1)*@size;

    WITH s AS (
        SELECT FoodItemId, FoodName, CaloriesPer100g, ProteinPer100g, CarbPer100g, FatPer100g, IsActive
        FROM dbo.FoodItem
        WHERE IsDeleted=0 AND (@q=N'' OR FoodName LIKE N'%' + @q + N'%')
    )
    SELECT @total = COUNT(*) FROM s;

    SELECT FoodItemId, FoodName, CaloriesPer100g, ProteinPer100g, CarbPer100g, FatPer100g, IsActive
    FROM s
    ORDER BY FoodName
    OFFSET @offset ROWS FETCH NEXT @size ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MealDiary_AddEntry]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MealDiary_AddEntry]
    @UserId UNIQUEIDENTIFIER,
    @EatenDate DATE,
    @MealTypeId INT,
    @FoodItemId INT = NULL,
    @UserDishId INT = NULL,
    @RecipeId INT = NULL,
    @Grams DECIMAL(10,2) = NULL,           -- send grams directly
    @ServingUnitId INT = NULL,
    @PortionQuantity DECIMAL(10,2) = NULL, -- or use serving units
    @Note NVARCHAR(500) = NULL,
    @PhotoUrl NVARCHAR(500) = NULL,
    @SourceMethod NVARCHAR(30) = N'Manual'
AS
BEGIN
    SET NOCOUNT ON;

    IF ((CASE WHEN @FoodItemId IS NOT NULL THEN 1 ELSE 0 END) +
        (CASE WHEN @UserDishId IS NOT NULL THEN 1 ELSE 0 END) +
        (CASE WHEN @RecipeId   IS NOT NULL THEN 1 ELSE 0 END)) <> 1
    BEGIN
        RAISERROR(N'Phải chọn đúng một nguồn: FoodItemId HOẶC UserDishId HOẶC RecipeId.', 16, 1);
        RETURN;
    END

    -- Đổi tên biến để tránh trùng
    DECLARE @FinalGrams DECIMAL(10,2) = @Grams;

    IF (@FinalGrams IS NULL AND @ServingUnitId IS NOT NULL AND @PortionQuantity IS NOT NULL)
    BEGIN
        DECLARE @baseFood INT = COALESCE(
            @FoodItemId,
            (SELECT TOP 1 f.FoodItemId
             FROM dbo.UserDishIngredient di
             JOIN dbo.FoodItem f ON f.FoodItemId = di.FoodItemId
             WHERE di.UserDishId = @UserDishId),
            (SELECT TOP 1 f.FoodItemId
             FROM dbo.RecipeIngredient ri
             JOIN dbo.FoodItem f ON f.FoodItemId = ri.FoodItemId
             WHERE ri.RecipeId = @RecipeId)
        );

        IF @baseFood IS NULL
        BEGIN
            RAISERROR(N'Không thể xác định thực phẩm để quy đổi đơn vị.', 16, 1);
            RETURN;
        END

        DECLARE @gPerUnit DECIMAL(10,2) = (
            SELECT TOP 1 GramsPerUnit
            FROM dbo.FoodServing
            WHERE FoodItemId = @baseFood AND ServingUnitId = @ServingUnitId
        );

        IF @gPerUnit IS NULL
        BEGIN
            RAISERROR(N'Chưa cấu hình quy đổi đơn vị cho thực phẩm và đơn vị này.', 16, 1);
            RETURN;
        END

        SET @FinalGrams = @PortionQuantity * @gPerUnit;
    END

    IF @FinalGrams IS NULL
    BEGIN
        RAISERROR(N'Bạn phải truyền Grams hoặc (ServingUnitId + PortionQuantity).', 16, 1);
        RETURN;
    END

    DECLARE @Cal100 DECIMAL(10,2), @P100 DECIMAL(10,2), @C100 DECIMAL(10,2), @F100 DECIMAL(10,2);

    IF @FoodItemId IS NOT NULL
    BEGIN
        SELECT @Cal100=CaloriesPer100g, @P100=ProteinPer100g, @C100=CarbPer100g, @F100=FatPer100g
        FROM dbo.FoodItem WHERE FoodItemId=@FoodItemId;
    END
    ELSE IF @UserDishId IS NOT NULL
    BEGIN
        DECLARE @TotalG DECIMAL(10,2) = (SELECT SUM(Grams) FROM dbo.UserDishIngredient WHERE UserDishId=@UserDishId);
        IF @TotalG IS NULL OR @TotalG=0 RAISERROR(N'Món người dùng chưa có thành phần.',16,1);
        SELECT @Cal100 = SUM(fi.CaloriesPer100g * di.Grams/100.0),
               @P100    = SUM(fi.ProteinPer100g  * di.Grams/100.0),
               @C100    = SUM(fi.CarbPer100g     * di.Grams/100.0),
               @F100    = SUM(fi.FatPer100g      * di.Grams/100.0)
        FROM dbo.UserDishIngredient di JOIN dbo.FoodItem fi ON fi.FoodItemId=di.FoodItemId
        WHERE di.UserDishId=@UserDishId;
        SET @Cal100=@Cal100*(100.0/@TotalG);
        SET @P100=@P100*(100.0/@TotalG);
        SET @C100=@C100*(100.0/@TotalG);
        SET @F100=@F100*(100.0/@TotalG);
    END
    ELSE
    BEGIN
        DECLARE @TotalGR DECIMAL(10,2) = (SELECT SUM(Grams) FROM dbo.RecipeIngredient WHERE RecipeId=@RecipeId);
        IF @TotalGR IS NULL OR @TotalGR=0 RAISERROR(N'Công thức chưa có nguyên liệu.',16,1);
        SELECT @Cal100 = SUM(fi.CaloriesPer100g * ri.Grams/100.0),
               @P100    = SUM(fi.ProteinPer100g  * ri.Grams/100.0),
               @C100    = SUM(fi.CarbPer100g     * ri.Grams/100.0),
               @F100    = SUM(fi.FatPer100g      * ri.Grams/100.0)
        FROM dbo.RecipeIngredient ri JOIN dbo.FoodItem fi ON fi.FoodItemId=ri.FoodItemId
        WHERE ri.RecipeId=@RecipeId;
        SET @Cal100=@Cal100*(100.0/@TotalGR);
        SET @P100=@P100*(100.0/@TotalGR);
        SET @C100=@C100*(100.0/@TotalGR);
        SET @F100=@F100*(100.0/@TotalGR);
    END

    DECLARE @Cal DECIMAL(10,2) = @Cal100 * @FinalGrams / 100.0;
    DECLARE @P DECIMAL(10,2)   = @P100   * @FinalGrams / 100.0;
    DECLARE @C DECIMAL(10,2)   = @C100   * @FinalGrams / 100.0;
    DECLARE @F DECIMAL(10,2)   = @F100   * @FinalGrams / 100.0;

    INSERT INTO dbo.MealDiary(UserId, EatenDate, MealTypeId, FoodItemId, UserDishId, RecipeId,
                              ServingUnitId, PortionQuantity, Grams, Calories, Protein, Carb, Fat,
                              Note, PhotoUrl, SourceMethod)
    VALUES(@UserId, @EatenDate, @MealTypeId, @FoodItemId, @UserDishId, @RecipeId,
           @ServingUnitId, @PortionQuantity, @FinalGrams, @Cal, @P, @C, @F,
           @Note, @PhotoUrl, @SourceMethod);

    SELECT SCOPE_IDENTITY() AS MealDiaryId, @Cal AS Calories, @P AS Protein, @C AS Carb, @F AS Fat;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MealDiary_DeleteSoft]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MealDiary_DeleteSoft]
    @MealDiaryId INT
AS
BEGIN
    UPDATE dbo.MealDiary SET IsDeleted=1 WHERE MealDiaryId=@MealDiaryId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MealDiary_Restore]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MealDiary_Restore]
    @MealDiaryId INT
AS
BEGIN
    UPDATE dbo.MealDiary SET IsDeleted=0 WHERE MealDiaryId=@MealDiaryId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UserDish_Create]    Script Date: 11/2/2025 10:37:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UserDish_Create]
    @UserId UNIQUEIDENTIFIER,
    @DishName NVARCHAR(255),
    @Description NVARCHAR(500) = NULL,
    @IngredientsJson NVARCHAR(MAX) -- [{"FoodItemId":1,"Grams":150.0}, ...]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserDishId INT;
    INSERT INTO dbo.UserDish(UserId, DishName, Description) VALUES (@UserId, @DishName, @Description);
    SET @UserDishId = SCOPE_IDENTITY();

    ;WITH cte AS (
        SELECT
            TRY_CAST(j.[FoodItemId] AS INT) AS FoodItemId,
            TRY_CAST(j.[Grams] AS DECIMAL(10,2)) AS Grams
        FROM OPENJSON(@IngredientsJson)
        WITH (FoodItemId INT '$.FoodItemId', Grams DECIMAL(10,2) '$.Grams') j
    )
    INSERT INTO dbo.UserDishIngredient(UserDishId, FoodItemId, Grams)
    SELECT @UserDishId, FoodItemId, Grams
    FROM cte
    WHERE FoodItemId IS NOT NULL AND Grams IS NOT NULL;

    SELECT @UserDishId AS UserDishId;
END

GO
