USE [EatFitAI]
GO
/****** Object:  Table [dbo].[MealDiary]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealDiary](
	[MealDiaryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[EatenDate] [date] NOT NULL,
	[MealTypeId] [int] NOT NULL,
	[FoodItemId] [int] NULL,
	[UserDishId] [int] NULL,
	[UserFoodItemId] [int] NULL,
	[RecipeId] [int] NULL,
	[ServingUnitId] [int] NULL,
	[PortionQuantity] [decimal](10, 2) NULL,
	[Grams] [decimal](10, 2) NOT NULL,
	[Calories] [decimal](10, 2) NOT NULL,
	[Protein] [decimal](10, 2) NOT NULL,
	[Carb] [decimal](10, 2) NOT NULL,
	[Fat] [decimal](10, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[PhotoUrl] [nvarchar](500) NULL,
	[SourceMethod] [nvarchar](30) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_MealDiary] PRIMARY KEY CLUSTERED 
(
	[MealDiaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DailyNutritionTotals]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DailyNutritionTotals] AS
SELECT UserId, EatenDate,
       SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat
FROM dbo.MealDiary
WHERE IsDeleted=0
GROUP BY UserId, EatenDate;
GO
/****** Object:  View [dbo].[vw_WeeklyNutritionTotals]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_WeeklyNutritionTotals] AS
SELECT UserId,
       DATEADD(day, - (DATEPART(weekday, EatenDate)+5)%7, CAST(EatenDate AS DATE)) AS WeekStart, -- Monday-based
       SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat
FROM dbo.MealDiary
WHERE IsDeleted=0
GROUP BY UserId, DATEADD(day, - (DATEPART(weekday, EatenDate)+5)%7, CAST(EatenDate AS DATE));
GO
/****** Object:  View [dbo].[vw_DailyMacroShare]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DailyMacroShare] AS
SELECT UserId, EatenDate,
       SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat,
       CAST(CASE WHEN SUM(Calories)=0 THEN 0 ELSE (SUM(Protein)*4.0)/NULLIF(SUM(Calories),0) END AS DECIMAL(5,4)) AS ProteinShare,
       CAST(CASE WHEN SUM(Calories)=0 THEN 0 ELSE (SUM(Carb)*4.0)/NULLIF(SUM(Calories),0) END AS DECIMAL(5,4))    AS CarbShare,
       CAST(CASE WHEN SUM(Calories)=0 THEN 0 ELSE (SUM(Fat)*9.0)/NULLIF(SUM(Calories),0) END AS DECIMAL(5,4))     AS FatShare
FROM dbo.MealDiary
WHERE IsDeleted=0
GROUP BY UserId, EatenDate;

GO
/****** Object:  View [dbo].[vw_MonthlyTotals]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MonthlyTotals] AS
SELECT UserId, CAST(DATEFROMPARTS(YEAR(EatenDate), MONTH(EatenDate), 1) AS DATE) AS Month,
       SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat,
       COUNT(*) AS EntryCount
FROM dbo.MealDiary
WHERE IsDeleted=0
GROUP BY UserId, DATEFROMPARTS(YEAR(EatenDate), MONTH(EatenDate), 1);
GO
/****** Object:  Table [dbo].[NutritionTarget]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NutritionTarget](
	[NutritionTargetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ActivityLevelId] [int] NULL,
	[TargetCalories] [int] NOT NULL,
	[TargetProtein] [int] NOT NULL,
	[TargetCarb] [int] NOT NULL,
	[TargetFat] [int] NOT NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
 CONSTRAINT [PK_NutritionTarget] PRIMARY KEY CLUSTERED 
(
	[NutritionTargetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TargetProgress]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TargetProgress] AS
SELECT
    d.UserId, d.EatenDate,
    d.TotalCalories, d.TotalProtein, d.TotalCarb, d.TotalFat,
    t.TargetCalories, t.TargetProtein, t.TargetCarb, t.TargetFat,
    CAST(d.TotalCalories - t.TargetCalories AS INT) AS CalorieDelta,
    CAST(d.TotalProtein  - t.TargetProtein  AS INT) AS ProteinDelta,
    CAST(d.TotalCarb     - t.TargetCarb     AS INT) AS CarbDelta,
    CAST(d.TotalFat      - t.TargetFat      AS INT) AS FatDelta
FROM (
    SELECT UserId, EatenDate,
           SUM(Calories) AS TotalCalories, SUM(Protein) AS TotalProtein, SUM(Carb) AS TotalCarb, SUM(Fat) AS TotalFat
    FROM dbo.MealDiary WHERE IsDeleted=0 GROUP BY UserId, EatenDate
) d
JOIN dbo.NutritionTarget t
  ON t.UserId = d.UserId
 AND (t.EffectiveFrom = d.EatenDate OR (t.EffectiveFrom <= d.EatenDate AND (t.EffectiveTo IS NULL OR t.EffectiveTo >= d.EatenDate)));

GO
/****** Object:  Table [dbo].[ActivityLevel]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLevel](
	[ActivityLevelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ActivityFactor] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_ActivityLevel] PRIMARY KEY CLUSTERED 
(
	[ActivityLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AILog]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AILog](
	[AILogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Action] [nvarchar](50) NOT NULL,
	[InputJson] [nvarchar](max) NULL,
	[OutputJson] [nvarchar](max) NULL,
	[DurationMs] [int] NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_AILog] PRIMARY KEY CLUSTERED 
(
	[AILogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AISuggestion]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AISuggestion](
	[AISuggestionId] [int] IDENTITY(1,1) NOT NULL,
	[AILogId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Confidence] [decimal](5, 4) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_AISuggestion] PRIMARY KEY CLUSTERED 
(
	[AISuggestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BodyMetric]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyMetric](
	[BodyMetricId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[HeightCm] [decimal](5, 2) NULL,
	[WeightKg] [decimal](5, 2) NULL,
	[MeasuredDate] [date] NOT NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_BodyMetric] PRIMARY KEY CLUSTERED 
(
	[BodyMetricId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodItem]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItem](
	[FoodItemId] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](255) NOT NULL,
	[CaloriesPer100g] [decimal](10, 2) NOT NULL,
	[ProteinPer100g] [decimal](10, 2) NOT NULL,
	[CarbPer100g] [decimal](10, 2) NOT NULL,
	[FatPer100g] [decimal](10, 2) NOT NULL,
	[ThumbNail] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_FoodItem] PRIMARY KEY CLUSTERED 
(
	[FoodItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodServing]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodServing](
	[FoodServingId] [int] IDENTITY(1,1) NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[ServingUnitId] [int] NOT NULL,
	[GramsPerUnit] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_FoodServing] PRIMARY KEY CLUSTERED 
(
	[FoodServingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageDetection]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageDetection](
	[ImageDetectionId] [int] IDENTITY(1,1) NOT NULL,
	[AILogId] [int] NOT NULL,
	[Label] [nvarchar](200) NOT NULL,
	[Confidence] [decimal](5, 4) NOT NULL,
 CONSTRAINT [PK_ImageDetection] PRIMARY KEY CLUSTERED 
(
	[ImageDetectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealType]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealType](
	[MealTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MealType] PRIMARY KEY CLUSTERED 
(
	[MealTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[RecipeId] [int] IDENTITY(1,1) NOT NULL,
	[RecipeName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeIngredient]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredient](
	[RecipeIngredientId] [int] IDENTITY(1,1) NOT NULL,
	[RecipeId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Grams] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_RecipeIngredient] PRIMARY KEY CLUSTERED 
(
	[RecipeIngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServingUnit]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServingUnit](
	[ServingUnitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Symbol] [nvarchar](20) NULL,
	[IsBaseUnit] [bit] NOT NULL,
 CONSTRAINT [PK_ServingUnit] PRIMARY KEY CLUSTERED 
(
	[ServingUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDish]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDish](
	[UserDishId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[DishName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserDish] PRIMARY KEY CLUSTERED 
(
	[UserDishId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDishIngredient]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDishIngredient](
	[UserDishIngredientId] [int] IDENTITY(1,1) NOT NULL,
	[UserDishId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Grams] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_UserDishIngredient] PRIMARY KEY CLUSTERED 
(
	[UserDishIngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFavoriteFood]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavoriteFood](
	[UserFavoriteFoodId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_UserFavoriteFood] PRIMARY KEY CLUSTERED 
(
	[UserFavoriteFoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFoodItem]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFoodItem](
	[UserFoodItemId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FoodName] [nvarchar](255) NOT NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[UnitType] [char](2) NOT NULL,
	[CaloriesPer100] [decimal](10, 2) NOT NULL,
	[ProteinPer100] [decimal](10, 2) NOT NULL,
	[CarbPer100] [decimal](10, 2) NOT NULL,
	[FatPer100] [decimal](10, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_UserFoodItem] PRIMARY KEY CLUSTERED 
(
	[UserFoodItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRecentFood]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRecentFood](
	[UserRecentFoodId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[LastUsedAt] [datetime2](3) NOT NULL,
	[UsedCount] [int] NOT NULL,
 CONSTRAINT [PK_UserRecentFood] PRIMARY KEY CLUSTERED 
(
	[UserRecentFoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](150) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLevel] ON 

INSERT [dbo].[ActivityLevel] ([ActivityLevelId], [Name], [ActivityFactor]) VALUES (1, N'Ít vận động', CAST(1.20 AS Decimal(4, 2)))
INSERT [dbo].[ActivityLevel] ([ActivityLevelId], [Name], [ActivityFactor]) VALUES (2, N'Hoạt động nhẹ', CAST(1.38 AS Decimal(4, 2)))
INSERT [dbo].[ActivityLevel] ([ActivityLevelId], [Name], [ActivityFactor]) VALUES (3, N'Hoạt động vừa phải', CAST(1.55 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[ActivityLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[AILog] ON 

INSERT [dbo].[AILog] ([AILogId], [UserId], [Action], [InputJson], [OutputJson], [DurationMs], [CreatedAt]) VALUES (1, N'00000000-0000-0000-0000-000000000001', N'FoodSearch', N'{"q":"cơm gà"}', N'{"hits":3}', 120, CAST(N'2025-11-06T15:06:37.8510000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AILog] OFF
GO
SET IDENTITY_INSERT [dbo].[AISuggestion] ON 

INSERT [dbo].[AISuggestion] ([AISuggestionId], [AILogId], [FoodItemId], [Confidence], [CreatedAt]) VALUES (1, 1, 1, CAST(0.9200 AS Decimal(5, 4)), CAST(N'2025-11-06T15:06:37.8600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AISuggestion] OFF
GO
SET IDENTITY_INSERT [dbo].[BodyMetric] ON 

INSERT [dbo].[BodyMetric] ([BodyMetricId], [UserId], [HeightCm], [WeightKg], [MeasuredDate], [Note]) VALUES (1, N'00000000-0000-0000-0000-000000000001', CAST(170.00 AS Decimal(5, 2)), CAST(65.00 AS Decimal(5, 2)), CAST(N'2025-11-01' AS Date), N'Đo đầu tháng 11')
INSERT [dbo].[BodyMetric] ([BodyMetricId], [UserId], [HeightCm], [WeightKg], [MeasuredDate], [Note]) VALUES (2, N'00000000-0000-0000-0000-000000000002', CAST(160.00 AS Decimal(5, 2)), CAST(54.00 AS Decimal(5, 2)), CAST(N'2025-11-01' AS Date), N'Đo đầu tháng 11')
SET IDENTITY_INSERT [dbo].[BodyMetric] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodItem] ON 

INSERT [dbo].[FoodItem] ([FoodItemId], [FoodName], [CaloriesPer100g], [ProteinPer100g], [CarbPer100g], [FatPer100g], [ThumbNail], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'Ức gà sống', CAST(165.00 AS Decimal(10, 2)), CAST(31.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(3.60 AS Decimal(10, 2)), NULL, 1, CAST(N'2025-11-01T15:43:12.3960000' AS DateTime2), CAST(N'2025-11-01T15:43:12.3960000' AS DateTime2), 0)
INSERT [dbo].[FoodItem] ([FoodItemId], [FoodName], [CaloriesPer100g], [ProteinPer100g], [CarbPer100g], [FatPer100g], [ThumbNail], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'Cơm trắng (chín)', CAST(130.00 AS Decimal(10, 2)), CAST(2.40 AS Decimal(10, 2)), CAST(28.20 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), NULL, 1, CAST(N'2025-11-01T15:43:12.3960000' AS DateTime2), CAST(N'2025-11-01T15:43:12.3960000' AS DateTime2), 0)
INSERT [dbo].[FoodItem] ([FoodItemId], [FoodName], [CaloriesPer100g], [ProteinPer100g], [CarbPer100g], [FatPer100g], [ThumbNail], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'Trứng gà', CAST(155.00 AS Decimal(10, 2)), CAST(13.00 AS Decimal(10, 2)), CAST(1.10 AS Decimal(10, 2)), CAST(11.00 AS Decimal(10, 2)), NULL, 1, CAST(N'2025-11-01T15:43:12.3960000' AS DateTime2), CAST(N'2025-11-01T15:43:12.3960000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[FoodItem] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodServing] ON 

INSERT [dbo].[FoodServing] ([FoodServingId], [FoodItemId], [ServingUnitId], [GramsPerUnit], [Description]) VALUES (1, 1, 1, CAST(100.00 AS Decimal(10, 2)), N'100g')
INSERT [dbo].[FoodServing] ([FoodServingId], [FoodItemId], [ServingUnitId], [GramsPerUnit], [Description]) VALUES (2, 2, 1, CAST(100.00 AS Decimal(10, 2)), N'100g')
INSERT [dbo].[FoodServing] ([FoodServingId], [FoodItemId], [ServingUnitId], [GramsPerUnit], [Description]) VALUES (3, 3, 1, CAST(100.00 AS Decimal(10, 2)), N'100g')
SET IDENTITY_INSERT [dbo].[FoodServing] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageDetection] ON 

INSERT [dbo].[ImageDetection] ([ImageDetectionId], [AILogId], [Label], [Confidence]) VALUES (1, 1, N'cơm', CAST(0.8800 AS Decimal(5, 4)))
SET IDENTITY_INSERT [dbo].[ImageDetection] OFF
GO
SET IDENTITY_INSERT [dbo].[MealDiary] ON 

SET IDENTITY_INSERT [dbo].[MealDiary] OFF
GO
SET IDENTITY_INSERT [dbo].[MealType] ON 

INSERT [dbo].[MealType] ([MealTypeId], [Name]) VALUES (4, N'Ăn nhẹ')
INSERT [dbo].[MealType] ([MealTypeId], [Name]) VALUES (1, N'Sáng')
INSERT [dbo].[MealType] ([MealTypeId], [Name]) VALUES (3, N'Tối')
SET IDENTITY_INSERT [dbo].[MealType] OFF
GO
SET IDENTITY_INSERT [dbo].[NutritionTarget] ON 

INSERT [dbo].[NutritionTarget] ([NutritionTargetId], [UserId], [ActivityLevelId], [TargetCalories], [TargetProtein], [TargetCarb], [TargetFat], [EffectiveFrom], [EffectiveTo]) VALUES (2, N'00000000-0000-0000-0000-000000000001', 2, 2200, 150, 220, 70, CAST(N'2025-11-01' AS Date), NULL)
INSERT [dbo].[NutritionTarget] ([NutritionTargetId], [UserId], [ActivityLevelId], [TargetCalories], [TargetProtein], [TargetCarb], [TargetFat], [EffectiveFrom], [EffectiveTo]) VALUES (3, N'00000000-0000-0000-0000-000000000002', 2, 1800, 100, 200, 60, CAST(N'2025-11-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[NutritionTarget] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipe] ON 

INSERT [dbo].[Recipe] ([RecipeId], [RecipeName], [Description], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'Cơm gà healthy', N'Cơm trắng + ức gà + bông cải xanh', CAST(N'2025-11-06T14:33:42.8780000' AS DateTime2), CAST(N'2025-11-06T14:33:42.8780000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Recipe] OFF
GO
SET IDENTITY_INSERT [dbo].[RecipeIngredient] ON 

INSERT [dbo].[RecipeIngredient] ([RecipeIngredientId], [RecipeId], [FoodItemId], [Grams]) VALUES (1, 1, 2, CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[RecipeIngredient] ([RecipeIngredientId], [RecipeId], [FoodItemId], [Grams]) VALUES (2, 1, 1, CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[RecipeIngredient] ([RecipeIngredientId], [RecipeId], [FoodItemId], [Grams]) VALUES (4, 1, 4, CAST(100.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[RecipeIngredient] OFF
GO
SET IDENTITY_INSERT [dbo].[ServingUnit] ON 

INSERT [dbo].[ServingUnit] ([ServingUnitId], [Name], [Symbol], [IsBaseUnit]) VALUES (1, N'Gram', N'g', 1)
INSERT [dbo].[ServingUnit] ([ServingUnitId], [Name], [Symbol], [IsBaseUnit]) VALUES (2, N'Mililít', N'ml', 0)
INSERT [dbo].[ServingUnit] ([ServingUnitId], [Name], [Symbol], [IsBaseUnit]) VALUES (3, N'Miếng', N'pc', 0)
SET IDENTITY_INSERT [dbo].[ServingUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDish] ON 

INSERT [dbo].[UserDish] ([UserDishId], [UserId], [DishName], [Description], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'00000000-0000-0000-0000-000000000001', N'Cơm gà trứng chiên', N'Cơm trắng + ức gà + trứng gà', CAST(N'2025-11-06T14:52:07.4080000' AS DateTime2), CAST(N'2025-11-06T14:52:07.4080000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[UserDish] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDishIngredient] ON 

INSERT [dbo].[UserDishIngredient] ([UserDishIngredientId], [UserDishId], [FoodItemId], [Grams]) VALUES (1, 1, 2, CAST(200.00 AS Decimal(10, 2)))
INSERT [dbo].[UserDishIngredient] ([UserDishIngredientId], [UserDishId], [FoodItemId], [Grams]) VALUES (2, 1, 1, CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[UserDishIngredient] ([UserDishIngredientId], [UserDishId], [FoodItemId], [Grams]) VALUES (3, 1, 3, CAST(50.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[UserDishIngredient] OFF
GO
SET IDENTITY_INSERT [dbo].[UserFavoriteFood] ON 

INSERT [dbo].[UserFavoriteFood] ([UserFavoriteFoodId], [UserId], [FoodItemId], [CreatedAt]) VALUES (1, N'00000000-0000-0000-0000-000000000001', 1, CAST(N'2025-11-06T15:03:20.6970000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserFavoriteFood] OFF
GO
SET IDENTITY_INSERT [dbo].[UserFoodItem] ON 

INSERT [dbo].[UserFoodItem] ([UserFoodItemId], [UserId], [FoodName], [ThumbnailUrl], [UnitType], [CaloriesPer100], [ProteinPer100], [CarbPer100], [FatPer100], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'00000000-0000-0000-0000-000000000001', N'Yến mạch ngâm sữa', N'https://img.example.com/oats.jpg', N'g ', CAST(390.00 AS Decimal(10, 2)), CAST(13.00 AS Decimal(10, 2)), CAST(66.00 AS Decimal(10, 2)), CAST(7.00 AS Decimal(10, 2)), 0, CAST(N'2025-11-06T14:44:08.5200000' AS DateTime2), CAST(N'2025-11-06T14:44:08.5200000' AS DateTime2))
INSERT [dbo].[UserFoodItem] ([UserFoodItemId], [UserId], [FoodName], [ThumbnailUrl], [UnitType], [CaloriesPer100], [ProteinPer100], [CarbPer100], [FatPer100], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (3, N'00000000-0000-0000-0000-000000000001', N'Sữa hạnh nhân không đường', N'https://img.example.com/almond-milk.jpg', N'ml', CAST(15.00 AS Decimal(10, 2)), CAST(0.60 AS Decimal(10, 2)), CAST(0.30 AS Decimal(10, 2)), CAST(1.20 AS Decimal(10, 2)), 0, CAST(N'2025-11-06T14:48:10.2840000' AS DateTime2), CAST(N'2025-11-06T14:48:10.2840000' AS DateTime2))
INSERT [dbo].[UserFoodItem] ([UserFoodItemId], [UserId], [FoodName], [ThumbnailUrl], [UnitType], [CaloriesPer100], [ProteinPer100], [CarbPer100], [FatPer100], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (4, N'00000000-0000-0000-0000-000000000002', N'Bơ đậu phộng homemade', N'https://img.example.com/peanut-butter.jpg', N'g ', CAST(588.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), 0, CAST(N'2025-11-06T14:49:37.8310000' AS DateTime2), CAST(N'2025-11-06T14:49:37.8310000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserFoodItem] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRecentFood] ON 

INSERT [dbo].[UserRecentFood] ([UserRecentFoodId], [UserId], [FoodItemId], [LastUsedAt], [UsedCount]) VALUES (1, N'00000000-0000-0000-0000-000000000001', 2, CAST(N'2025-11-06T15:03:20.7010000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[UserRecentFood] OFF
GO
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [DisplayName], [CreatedAt]) VALUES (N'00000000-0000-0000-0000-000000000001', N'usera@example.com', NULL, N'Bạn A', CAST(N'2025-11-06T14:35:40.4840000' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [DisplayName], [CreatedAt]) VALUES (N'00000000-0000-0000-0000-000000000002', N'userb@example.com', NULL, N'Bạn B', CAST(N'2025-11-06T14:35:40.4850000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ActivityLevel_Name]    Script Date: 11/6/2025 10:30:51 PM ******/
ALTER TABLE [dbo].[ActivityLevel] ADD  CONSTRAINT [UQ_ActivityLevel_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_FoodServing]    Script Date: 11/6/2025 10:30:51 PM ******/
ALTER TABLE [dbo].[FoodServing] ADD  CONSTRAINT [UQ_FoodServing] UNIQUE NONCLUSTERED 
(
	[FoodItemId] ASC,
	[ServingUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MealType_Name]    Script Date: 11/6/2025 10:30:51 PM ******/
ALTER TABLE [dbo].[MealType] ADD  CONSTRAINT [UQ_MealType_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ServingUnit_Name]    Script Date: 11/6/2025 10:30:51 PM ******/
ALTER TABLE [dbo].[ServingUnit] ADD  CONSTRAINT [UQ_ServingUnit_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserFavoriteFood]    Script Date: 11/6/2025 10:30:51 PM ******/
ALTER TABLE [dbo].[UserFavoriteFood] ADD  CONSTRAINT [UQ_UserFavoriteFood] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[FoodItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserFoodItem_User_Name]    Script Date: 11/6/2025 10:30:51 PM ******/
ALTER TABLE [dbo].[UserFoodItem] ADD  CONSTRAINT [UQ_UserFoodItem_User_Name] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[FoodName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserRecentFood]    Script Date: 11/6/2025 10:30:51 PM ******/
ALTER TABLE [dbo].[UserRecentFood] ADD  CONSTRAINT [UQ_UserRecentFood] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[FoodItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 11/6/2025 10:30:51 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AILog] ADD  CONSTRAINT [DF_AILog_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AISuggestion] ADD  CONSTRAINT [DF_AISuggestion_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FoodItem] ADD  CONSTRAINT [DF_FI_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FoodItem] ADD  CONSTRAINT [DF_FI_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FoodItem] ADD  CONSTRAINT [DF_FI_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[FoodItem] ADD  CONSTRAINT [DF_FI_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MealDiary] ADD  CONSTRAINT [DF_MealDiary_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MealDiary] ADD  CONSTRAINT [DF_MealDiary_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MealDiary] ADD  CONSTRAINT [DF_MealDiary_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Recipe] ADD  CONSTRAINT [DF_Recipe_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Recipe] ADD  CONSTRAINT [DF_Recipe_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Recipe] ADD  CONSTRAINT [DF_Recipe_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ServingUnit] ADD  CONSTRAINT [DF_ServingUnit_Base]  DEFAULT ((0)) FOR [IsBaseUnit]
GO
ALTER TABLE [dbo].[UserDish] ADD  CONSTRAINT [DF_UserDish_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserDish] ADD  CONSTRAINT [DF_UserDish_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserDish] ADD  CONSTRAINT [DF_UserDish_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[UserFavoriteFood] ADD  CONSTRAINT [DF_UserFavoriteFood_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserFoodItem] ADD  CONSTRAINT [DF_UserFoodItem_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[UserFoodItem] ADD  CONSTRAINT [DF_UserFoodItem_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserFoodItem] ADD  CONSTRAINT [DF_UserFoodItem_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserRecentFood] ADD  CONSTRAINT [DF_UserRecentFood_LastUsedAt]  DEFAULT (sysutcdatetime()) FOR [LastUsedAt]
GO
ALTER TABLE [dbo].[UserRecentFood] ADD  CONSTRAINT [DF_UserRecentFood_UsedCount]  DEFAULT ((1)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AILog]  WITH CHECK ADD  CONSTRAINT [FK_AILog_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AILog] CHECK CONSTRAINT [FK_AILog_User]
GO
ALTER TABLE [dbo].[AISuggestion]  WITH CHECK ADD  CONSTRAINT [FK_AISuggestion_AILog] FOREIGN KEY([AILogId])
REFERENCES [dbo].[AILog] ([AILogId])
GO
ALTER TABLE [dbo].[AISuggestion] CHECK CONSTRAINT [FK_AISuggestion_AILog]
GO
ALTER TABLE [dbo].[AISuggestion]  WITH CHECK ADD  CONSTRAINT [FK_AISuggestion_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[AISuggestion] CHECK CONSTRAINT [FK_AISuggestion_FoodItem]
GO
ALTER TABLE [dbo].[BodyMetric]  WITH CHECK ADD  CONSTRAINT [FK_BodyMetric_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[BodyMetric] CHECK CONSTRAINT [FK_BodyMetric_User]
GO
ALTER TABLE [dbo].[FoodServing]  WITH CHECK ADD  CONSTRAINT [FK_FoodServing_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[FoodServing] CHECK CONSTRAINT [FK_FoodServing_FoodItem]
GO
ALTER TABLE [dbo].[FoodServing]  WITH CHECK ADD  CONSTRAINT [FK_FoodServing_ServingUnit] FOREIGN KEY([ServingUnitId])
REFERENCES [dbo].[ServingUnit] ([ServingUnitId])
GO
ALTER TABLE [dbo].[FoodServing] CHECK CONSTRAINT [FK_FoodServing_ServingUnit]
GO
ALTER TABLE [dbo].[ImageDetection]  WITH CHECK ADD  CONSTRAINT [FK_ImageDetection_AILog] FOREIGN KEY([AILogId])
REFERENCES [dbo].[AILog] ([AILogId])
GO
ALTER TABLE [dbo].[ImageDetection] CHECK CONSTRAINT [FK_ImageDetection_AILog]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_FoodItem]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_MealType] FOREIGN KEY([MealTypeId])
REFERENCES [dbo].[MealType] ([MealTypeId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_MealType]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_Recipe] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipe] ([RecipeId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_Recipe]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_ServingUnit] FOREIGN KEY([ServingUnitId])
REFERENCES [dbo].[ServingUnit] ([ServingUnitId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_ServingUnit]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_User]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [FK_MealDiary_UserDish] FOREIGN KEY([UserDishId])
REFERENCES [dbo].[UserDish] ([UserDishId])
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [FK_MealDiary_UserDish]
GO
ALTER TABLE [dbo].[NutritionTarget]  WITH CHECK ADD  CONSTRAINT [FK_NutritionTarget_ActivityLevel] FOREIGN KEY([ActivityLevelId])
REFERENCES [dbo].[ActivityLevel] ([ActivityLevelId])
GO
ALTER TABLE [dbo].[NutritionTarget] CHECK CONSTRAINT [FK_NutritionTarget_ActivityLevel]
GO
ALTER TABLE [dbo].[NutritionTarget]  WITH CHECK ADD  CONSTRAINT [FK_NutritionTarget_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[NutritionTarget] CHECK CONSTRAINT [FK_NutritionTarget_User]
GO
ALTER TABLE [dbo].[RecipeIngredient]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredient_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[RecipeIngredient] CHECK CONSTRAINT [FK_RecipeIngredient_FoodItem]
GO
ALTER TABLE [dbo].[RecipeIngredient]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredient_Recipe] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipe] ([RecipeId])
GO
ALTER TABLE [dbo].[RecipeIngredient] CHECK CONSTRAINT [FK_RecipeIngredient_Recipe]
GO
ALTER TABLE [dbo].[UserDish]  WITH CHECK ADD  CONSTRAINT [FK_UserDish_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserDish] CHECK CONSTRAINT [FK_UserDish_User]
GO
ALTER TABLE [dbo].[UserDishIngredient]  WITH CHECK ADD  CONSTRAINT [FK_UserDishIngredient_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[UserDishIngredient] CHECK CONSTRAINT [FK_UserDishIngredient_FoodItem]
GO
ALTER TABLE [dbo].[UserDishIngredient]  WITH CHECK ADD  CONSTRAINT [FK_UserDishIngredient_UserDish] FOREIGN KEY([UserDishId])
REFERENCES [dbo].[UserDish] ([UserDishId])
GO
ALTER TABLE [dbo].[UserDishIngredient] CHECK CONSTRAINT [FK_UserDishIngredient_UserDish]
GO
ALTER TABLE [dbo].[UserFavoriteFood]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteFood_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[UserFavoriteFood] CHECK CONSTRAINT [FK_UserFavoriteFood_FoodItem]
GO
ALTER TABLE [dbo].[UserFavoriteFood]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteFood_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserFavoriteFood] CHECK CONSTRAINT [FK_UserFavoriteFood_User]
GO
ALTER TABLE [dbo].[UserFoodItem]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodItem_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserFoodItem] CHECK CONSTRAINT [FK_UserFoodItem_User]
GO
ALTER TABLE [dbo].[UserRecentFood]  WITH CHECK ADD  CONSTRAINT [FK_UserRecentFood_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[UserRecentFood] CHECK CONSTRAINT [FK_UserRecentFood_FoodItem]
GO
ALTER TABLE [dbo].[UserRecentFood]  WITH CHECK ADD  CONSTRAINT [FK_UserRecentFood_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRecentFood] CHECK CONSTRAINT [FK_UserRecentFood_User]
GO
ALTER TABLE [dbo].[ActivityLevel]  WITH CHECK ADD  CONSTRAINT [CK_ActivityLevel_Positive] CHECK  (([ActivityFactor]>(0)))
GO
ALTER TABLE [dbo].[ActivityLevel] CHECK CONSTRAINT [CK_ActivityLevel_Positive]
GO
ALTER TABLE [dbo].[AISuggestion]  WITH CHECK ADD  CONSTRAINT [CK_AISuggestion_Conf] CHECK  (([Confidence]>=(0) AND [Confidence]<=(1)))
GO
ALTER TABLE [dbo].[AISuggestion] CHECK CONSTRAINT [CK_AISuggestion_Conf]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [CK_FI_C_NonNeg] CHECK  (([CarbPer100g]>=(0)))
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [CK_FI_C_NonNeg]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [CK_FI_Cal_NonNeg] CHECK  (([CaloriesPer100g]>=(0)))
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [CK_FI_Cal_NonNeg]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [CK_FI_F_NonNeg] CHECK  (([FatPer100g]>=(0)))
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [CK_FI_F_NonNeg]
GO
ALTER TABLE [dbo].[FoodItem]  WITH CHECK ADD  CONSTRAINT [CK_FI_P_NonNeg] CHECK  (([ProteinPer100g]>=(0)))
GO
ALTER TABLE [dbo].[FoodItem] CHECK CONSTRAINT [CK_FI_P_NonNeg]
GO
ALTER TABLE [dbo].[FoodServing]  WITH CHECK ADD  CONSTRAINT [CK_FoodServing_Positive] CHECK  (([GramsPerUnit]>(0)))
GO
ALTER TABLE [dbo].[FoodServing] CHECK CONSTRAINT [CK_FoodServing_Positive]
GO
ALTER TABLE [dbo].[ImageDetection]  WITH CHECK ADD  CONSTRAINT [CK_ImageDetection_Conf] CHECK  (([Confidence]>=(0) AND [Confidence]<=(1)))
GO
ALTER TABLE [dbo].[ImageDetection] CHECK CONSTRAINT [CK_ImageDetection_Conf]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_C_NonNeg] CHECK  (([Carb]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_C_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_Cal_NonNeg] CHECK  (([Calories]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_Cal_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_F_NonNeg] CHECK  (([Fat]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_F_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_Grams_NonNeg] CHECK  (([Grams]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_Grams_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_P_NonNeg] CHECK  (([Protein]>=(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_P_NonNeg]
GO
ALTER TABLE [dbo].[MealDiary]  WITH CHECK ADD  CONSTRAINT [CK_MealDiary_Portion_Positive] CHECK  (([PortionQuantity] IS NULL OR [PortionQuantity]>(0)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_Portion_Positive]
GO
ALTER TABLE [dbo].[MealDiary]  WITH NOCHECK ADD  CONSTRAINT [CK_MealDiary_SourceExactlyOne] CHECK  (((((case when [FoodItemId] IS NOT NULL then (1) else (0) end+case when [UserDishId] IS NOT NULL then (1) else (0) end)+case when [RecipeId] IS NOT NULL then (1) else (0) end)+case when [UserFoodItemId] IS NOT NULL then (1) else (0) end)=(1)))
GO
ALTER TABLE [dbo].[MealDiary] CHECK CONSTRAINT [CK_MealDiary_SourceExactlyOne]
GO
ALTER TABLE [dbo].[RecipeIngredient]  WITH CHECK ADD  CONSTRAINT [CK_RecipeIngredient_Positive] CHECK  (([Grams]>=(0)))
GO
ALTER TABLE [dbo].[RecipeIngredient] CHECK CONSTRAINT [CK_RecipeIngredient_Positive]
GO
ALTER TABLE [dbo].[UserDishIngredient]  WITH CHECK ADD  CONSTRAINT [CK_UserDishIngredient_Positive] CHECK  (([Grams]>=(0)))
GO
ALTER TABLE [dbo].[UserDishIngredient] CHECK CONSTRAINT [CK_UserDishIngredient_Positive]
GO
ALTER TABLE [dbo].[UserFoodItem]  WITH CHECK ADD  CONSTRAINT [CK_UserFoodItem_C100_NonNeg] CHECK  (([CarbPer100]>=(0)))
GO
ALTER TABLE [dbo].[UserFoodItem] CHECK CONSTRAINT [CK_UserFoodItem_C100_NonNeg]
GO
ALTER TABLE [dbo].[UserFoodItem]  WITH CHECK ADD  CONSTRAINT [CK_UserFoodItem_Cal100_NonNeg] CHECK  (([CaloriesPer100]>=(0)))
GO
ALTER TABLE [dbo].[UserFoodItem] CHECK CONSTRAINT [CK_UserFoodItem_Cal100_NonNeg]
GO
ALTER TABLE [dbo].[UserFoodItem]  WITH CHECK ADD  CONSTRAINT [CK_UserFoodItem_F100_NonNeg] CHECK  (([FatPer100]>=(0)))
GO
ALTER TABLE [dbo].[UserFoodItem] CHECK CONSTRAINT [CK_UserFoodItem_F100_NonNeg]
GO
ALTER TABLE [dbo].[UserFoodItem]  WITH CHECK ADD  CONSTRAINT [CK_UserFoodItem_P100_NonNeg] CHECK  (([ProteinPer100]>=(0)))
GO
ALTER TABLE [dbo].[UserFoodItem] CHECK CONSTRAINT [CK_UserFoodItem_P100_NonNeg]
GO
ALTER TABLE [dbo].[UserFoodItem]  WITH CHECK ADD  CONSTRAINT [CK_UserFoodItem_UnitType] CHECK  (([UnitType]='ml' OR [UnitType]='g'))
GO
ALTER TABLE [dbo].[UserFoodItem] CHECK CONSTRAINT [CK_UserFoodItem_UnitType]
GO
/****** Object:  StoredProcedure [dbo].[sp_Food_Search]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Food_Search]
    @q NVARCHAR(200) = N'',
    @page INT = 1,
    @size INT = 20,
    @total INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF @page < 1 SET @page = 1;
    IF @size < 1 SET @size = 20;
    DECLARE @offset INT = (@page-1)*@size;

    WITH s AS (
        SELECT FoodItemId, FoodName, CaloriesPer100g, ProteinPer100g, CarbPer100g, FatPer100g, IsActive
        FROM dbo.FoodItem
        WHERE IsDeleted=0 AND (@q=N'' OR FoodName LIKE N'%' + @q + N'%')
    )
    SELECT @total = COUNT(*) FROM s;

    SELECT FoodItemId, FoodName, CaloriesPer100g, ProteinPer100g, CarbPer100g, FatPer100g, IsActive
    FROM s
    ORDER BY FoodName
    OFFSET @offset ROWS FETCH NEXT @size ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MealDiary_AddEntry]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MealDiary_AddEntry]
    @UserId UNIQUEIDENTIFIER,
    @EatenDate DATE,
    @MealTypeId INT,

    @FoodItemId INT = NULL,
    @UserDishId INT = NULL,
    @RecipeId INT = NULL,
    @UserFoodItemId INT = NULL,

    @Amount DECIMAL(10,2) = NULL,        -- số lượng (g cho FoodItem/UserDish/Recipe; g hoặc ml cho UserFoodItem)
    @Note NVARCHAR(500) = NULL, @PhotoUrl NVARCHAR(500) = NULL,
    @SourceMethod NVARCHAR(30) = N'Manual'
AS
BEGIN
    SET NOCOUNT ON;

    IF ((CASE WHEN @FoodItemId IS NOT NULL THEN 1 ELSE 0 END) +
        (CASE WHEN @UserDishId IS NOT NULL THEN 1 ELSE 0 END) +
        (CASE WHEN @RecipeId   IS NOT NULL THEN 1 ELSE 0 END) +
        (CASE WHEN @UserFoodItemId IS NOT NULL THEN 1 ELSE 0 END)) <> 1
    BEGIN
        RAISERROR(N'Chọn đúng 1 nguồn: FoodItemId | UserDishId | RecipeId | UserFoodItemId.', 16, 1);
        RETURN;
    END

    IF (@Amount IS NULL OR @Amount < 0)
    BEGIN
        RAISERROR(N'@Amount phải có giá trị không âm (theo g hoặc ml).',16,1);
        RETURN;
    END

    DECLARE @Cal DECIMAL(10,2)=0, @P DECIMAL(10,2)=0, @C DECIMAL(10,2)=0, @F DECIMAL(10,2)=0;

    -- 5.1: UserFoodItem (chuẩn theo 100 g/ml)
    IF @UserFoodItemId IS NOT NULL
    BEGIN
        DECLARE @Cal100 DECIMAL(10,2), @P100 DECIMAL(10,2), @C100 DECIMAL(10,2), @F100 DECIMAL(10,2);
        SELECT @Cal100=CaloriesPer100, @P100=ProteinPer100, @C100=CarbPer100, @F100=FatPer100
        FROM dbo.UserFoodItem WHERE UserFoodItemId=@UserFoodItemId;

        SET @Cal = @Cal100 * @Amount / 100.0;
        SET @P   = @P100   * @Amount / 100.0;
        SET @C   = @C100   * @Amount / 100.0;
        SET @F   = @F100   * @Amount / 100.0;

        INSERT INTO dbo.MealDiary
        (UserId, EatenDate, MealTypeId, UserFoodItemId,
         Grams, Calories, Protein, Carb, Fat, Note, PhotoUrl, SourceMethod)
        VALUES
        (@UserId, @EatenDate, @MealTypeId, @UserFoodItemId,
         @Amount, @Cal, @P, @C, @F, @Note, @PhotoUrl, @SourceMethod);

        SELECT SCOPE_IDENTITY() AS MealDiaryId, @Cal AS Calories, @P AS Protein, @C AS Carb, @F AS Fat;
        RETURN;
    END

    -- 5.2: FoodItem (chuẩn theo 100 g)
    IF @FoodItemId IS NOT NULL
    BEGIN
        DECLARE @Cal100F DECIMAL(10,2), @P100F DECIMAL(10,2), @C100F DECIMAL(10,2), @F100F DECIMAL(10,2);
        SELECT @Cal100F=CaloriesPer100g, @P100F=ProteinPer100g, @C100F=CarbPer100g, @F100F=FatPer100g FROM dbo.FoodItem WHERE FoodItemId=@FoodItemId;

        SET @Cal = @Cal100F * @Amount / 100.0;
        SET @P   = @P100F   * @Amount / 100.0;
        SET @C   = @C100F   * @Amount / 100.0;
        SET @F   = @F100F   * @Amount / 100.0;

        INSERT INTO dbo.MealDiary
        (UserId, EatenDate, MealTypeId, FoodItemId,
         Grams, Calories, Protein, Carb, Fat, Note, PhotoUrl, SourceMethod)
        VALUES
        (@UserId, @EatenDate, @MealTypeId, @FoodItemId,
         @Amount, @Cal, @P, @C, @F, @Note, @PhotoUrl, @SourceMethod);

        SELECT SCOPE_IDENTITY() AS MealDiaryId, @Cal AS Calories, @P AS Protein, @C AS Carb, @F AS Fat;
        RETURN;
    END

    -- 5.3: UserDish (tổng hợp từ các ingredient -> quy về /100g)
    IF @UserDishId IS NOT NULL
    BEGIN
        DECLARE @TotalG DECIMAL(10,2) = (SELECT SUM(Grams) FROM dbo.UserDishIngredient WHERE UserDishId=@UserDishId);
        IF @TotalG IS NULL OR @TotalG=0 RAISERROR(N'Món người dùng chưa có thành phần.',16,1);

        DECLARE @Cal100D DECIMAL(10,2), @P100D DECIMAL(10,2), @C100D DECIMAL(10,2), @F100D DECIMAL(10,2);
        SELECT @Cal100D = SUM(fi.CaloriesPer100g * di.Grams/100.0),
               @P100D   = SUM(fi.ProteinPer100g  * di.Grams/100.0),
               @C100D   = SUM(fi.CarbPer100g     * di.Grams/100.0),
               @F100D   = SUM(fi.FatPer100g      * di.Grams/100.0)
        FROM dbo.UserDishIngredient di
        JOIN dbo.FoodItem fi ON fi.FoodItemId=di.FoodItemId
        WHERE di.UserDishId=@UserDishId;

        -- Quy về trên 100g món
        SET @Cal100D=@Cal100D*(100.0/@TotalG);
        SET @P100D=@P100D*(100.0/@TotalG);
        SET @C100D=@C100D*(100.0/@TotalG);
        SET @F100D=@F100D*(100.0/@TotalG);

        SET @Cal = @Cal100D * @Amount / 100.0;
        SET @P   = @P100D   * @Amount / 100.0;
        SET @C   = @C100D   * @Amount / 100.0;
        SET @F   = @F100D   * @Amount / 100.0;

        INSERT INTO dbo.MealDiary
        (UserId, EatenDate, MealTypeId, UserDishId,
         Grams, Calories, Protein, Carb, Fat, Note, PhotoUrl, SourceMethod)
        VALUES
        (@UserId, @EatenDate, @MealTypeId, @UserDishId,
         @Amount, @Cal, @P, @C, @F, @Note, @PhotoUrl, @SourceMethod);

        SELECT SCOPE_IDENTITY() AS MealDiaryId, @Cal AS Calories, @P AS Protein, @C AS Carb, @F AS Fat;
        RETURN;
    END

    -- 5.4: Recipe (tổng hợp từ các ingredient -> quy về /100g)
    IF @RecipeId IS NOT NULL
    BEGIN
        DECLARE @TotalGR DECIMAL(10,2) = (SELECT SUM(Grams) FROM dbo.RecipeIngredient WHERE RecipeId=@RecipeId);
        IF @TotalGR IS NULL OR @TotalGR=0 RAISERROR(N'Công thức chưa có nguyên liệu.',16,1);

        DECLARE @Cal100R DECIMAL(10,2), @P100R DECIMAL(10,2), @C100R DECIMAL(10,2), @F100R DECIMAL(10,2);
        SELECT @Cal100R = SUM(fi.CaloriesPer100g * ri.Grams/100.0),
               @P100R   = SUM(fi.ProteinPer100g  * ri.Grams/100.0),
               @C100R   = SUM(fi.CarbPer100g     * ri.Grams/100.0),
               @F100R   = SUM(fi.FatPer100g      * ri.Grams/100.0)
        FROM dbo.RecipeIngredient ri
        JOIN dbo.FoodItem fi ON fi.FoodItemId=ri.FoodItemId
        WHERE ri.RecipeId=@RecipeId;

        -- Quy về trên 100g món
        SET @Cal100R=@Cal100R*(100.0/@TotalGR);
        SET @P100R=@P100R*(100.0/@TotalGR);
        SET @C100R=@C100R*(100.0/@TotalGR);
        SET @F100R=@F100R*(100.0/@TotalGR);

        SET @Cal = @Cal100R * @Amount / 100.0;
        SET @P   = @P100R   * @Amount / 100.0;
        SET @C   = @C100R   * @Amount / 100.0;
        SET @F   = @F100R   * @Amount / 100.0;

        INSERT INTO dbo.MealDiary
        (UserId, EatenDate, MealTypeId, RecipeId,
         Grams, Calories, Protein, Carb, Fat, Note, PhotoUrl, SourceMethod)
        VALUES
        (@UserId, @EatenDate, @MealTypeId, @RecipeId,
         @Amount, @Cal, @P, @C, @F, @Note, @PhotoUrl, @SourceMethod);

        SELECT SCOPE_IDENTITY() AS MealDiaryId, @Cal AS Calories, @P AS Protein, @C AS Carb, @F AS Fat;
        RETURN;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_MealDiary_DeleteSoft]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MealDiary_DeleteSoft]
    @MealDiaryId INT
AS
BEGIN
    UPDATE dbo.MealDiary SET IsDeleted=1 WHERE MealDiaryId=@MealDiaryId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MealDiary_Restore]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MealDiary_Restore]
    @MealDiaryId INT
AS
BEGIN
    UPDATE dbo.MealDiary SET IsDeleted=0 WHERE MealDiaryId=@MealDiaryId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UserDish_Create]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UserDish_Create]
    @UserId UNIQUEIDENTIFIER,
    @DishName NVARCHAR(255),
    @Description NVARCHAR(500) = NULL,
    @IngredientsJson NVARCHAR(MAX) -- [{"FoodItemId":1,"Grams":150.0}, ...]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserDishId INT;
    INSERT INTO dbo.UserDish(UserId, DishName, Description) VALUES (@UserId, @DishName, @Description);
    SET @UserDishId = SCOPE_IDENTITY();

    ;WITH cte AS (
        SELECT
            TRY_CAST(j.[FoodItemId] AS INT) AS FoodItemId,
            TRY_CAST(j.[Grams] AS DECIMAL(10,2)) AS Grams
        FROM OPENJSON(@IngredientsJson)
        WITH (FoodItemId INT '$.FoodItemId', Grams DECIMAL(10,2) '$.Grams') j
    )
    INSERT INTO dbo.UserDishIngredient(UserDishId, FoodItemId, Grams)
    SELECT @UserDishId, FoodItemId, Grams
    FROM cte
    WHERE FoodItemId IS NOT NULL AND Grams IS NOT NULL;

    SELECT @UserDishId AS UserDishId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UserFood_Create]    Script Date: 11/6/2025 10:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UserFood_Create]
    @UserId UNIQUEIDENTIFIER,
    @FoodName NVARCHAR(255),
    @ThumbnailUrl NVARCHAR(500) = NULL,
    @UnitType CHAR(2),               -- 'g' hoặc 'ml'
    @CaloriesPer100 DECIMAL(10,2),
    @ProteinPer100  DECIMAL(10,2),
    @CarbPer100     DECIMAL(10,2),
    @FatPer100      DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@UnitType NOT IN ('g','ml'))
    BEGIN
        RAISERROR(N'UnitType phải là ''g'' hoặc ''ml''.',16,1);
        RETURN;
    END

    INSERT INTO dbo.UserFoodItem
    (UserId, FoodName, ThumbnailUrl, UnitType, CaloriesPer100, ProteinPer100, CarbPer100, FatPer100)
    VALUES
    (@UserId, @FoodName, @ThumbnailUrl, @UnitType, @CaloriesPer100, @ProteinPer100, @CarbPer100, @FatPer100);

    SELECT SCOPE_IDENTITY() AS UserFoodItemId;
END;

GO
