# shellcheck shell=bash
# shellcheck disable=SC2034
ConnectionStrings__Default=Data Source=LAPTOP-U9R2KGG0;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name="SQL Server Management Studio";Command Timeout=0

SA_PASSWORD=Your_strong_password123
Jwt__Key=changeme-super-secret-key
Jwt__Issuer=EatFitAI.Api
Jwt__Audience=EatFitAI.Client
Jwt__AccessTokenMinutes=15
Auth__Google__ClientId_Web=your-google-web-client-id.apps.googleusercontent.com
Auth__Google__ClientId_Android=your-google-android-client-id.apps.googleusercontent.com
Logging__Level__Default=Information
Auth__Google__ClientSecret_Web=your-google-web-client-secret
