HF_TOKEN=SET_ONLY_IF_YOU_DOWNLOAD_MODELS_FROM_HUGGING_FACE
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:3b
ENABLE_STT=false
ROBOFLOW_API_KEY=SET_ONLY_IF_YOU_DOWNLOAD_DATASET_FROM_ROBOFLOW
ROBOFLOW_WORKSPACE=conghieu
ROBOFLOW_PROJECT=eatfitai-ingredients-v1-wfulm
ROBOFLOW_VERSION=4
ROBOFLOW_FORMAT=yolov8
ROBOFLOW_DOWNLOAD_DIR=D:/datasets