version: '3.9'

services:
  api:
    build:
      context: ..
      dockerfile: src/EatFitAI.Api/Dockerfile
    ports:
      - "5000:8080"
      - "5001:8081"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on: []
# TODO: se bo sung SQL Server o cac buoc tiep theo
