EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:5247
# EXPO_PUBLIC_API_FALLBACK_HOST=192.168.1.100
# EXPO_PUBLIC_API_PORT=5247
# EXPO_PUBLIC_API_SCHEME=http
# EXPO_PUBLIC_MEDIA_PUBLIC_BASE_URL=https://pub-9081bce8ff6b4db5b4403ca7adae7b80.r2.dev

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=YOUR_IOS_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_OFFLINE_ACCESS=true
EXPO_PUBLIC_GOOGLE_FORCE_CODE_FOR_REFRESH_TOKEN=true
